results/
results_old/
results_old
__pycache__/
sbatch/
*.bash
*.sbatch
data/camelyon17_v1.0
*.bin
notebook/data
*.ipynb
notebook/
sbatch
results
output/
output
.vscode/
analysis/weight_diff.py
analysis/adapter_diff.py
results_old
plots
environment.yml
#results/**/*.ckpt
#results/**/*.json
#results/**/*.pt
#results/**/*.bin
#results/**/*.txt
#results/**/*.pth
#results/**/*.md